* {
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: fixed;
    inset: -100px;
    filter: blur(0);
    transition: filter 1s ease;
}
canvas.blur {
    filter: blur(5px);
}

p {
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    color: white;
    font-family: sans-serif;
    z-index: 10;
    background-color: #ff005b;
}