* {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	/* color-scheme: light dark; */
}

html {
	scroll-behavior: smooth;
	body {
		position: relative;
		transition: background 0.5s ease, color 0.5s ease;

		/* display: grid;
        grid-template-columns: min(1rem, 5%) 1fr min(1rem, 5%);
        > * {
            grid-column: 2 / 3;
        } */

		.bg {
			position: fixed;
			inset: -100px;

			canvas {
				filter: blur(0);
				transition: filter 1s ease;
				z-index: -1;
			}
			canvas.blur {
				filter: blur(4px);
				opacity: 0.4;
			}
		}

		header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background: inherit;
			backdrop-filter: blur(10px);
			padding: 1rem;
			z-index: 10;
		}

		main {
			section {
				width: 100%;
				position: relative;
				display: grid;
				place-items: center;
				min-height: 100svh;

				.wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					gap: 2rem;
				}

				&.hero {
					img {
						--_xplacement: 20%;
						--_yplacement: 33%;
						--_rotation: 15deg;
						width: 4rem;
						height: 4rem;
						position: absolute;

						&:nth-child(1) {
							top: var(--_yplacement);
							left: var(--_xplacement);
							transform: rotate(calc(-1 * var(--_rotation)));
						}
						&:nth-child(2) {
							top: var(--_yplacement);
							right: var(--_xplacement);
							transform: rotate(var(--_rotation));
						}
						&:nth-child(3) {
							bottom: var(--_yplacement);
							left: var(--_xplacement);
							transform: rotate(var(--_rotation));
						}
						&:nth-child(4) {
							bottom: var(--_yplacement);
							right: var(--_xplacement);
							transform: rotate(calc(-1 * var(--_rotation)));
						}
					}
				}

				.image-grid {
					position: absolute;
					inset: 0;
					width: 100%;
					height: 100%;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(3, auto);
					place-items: center;
					gap: 4rem;

					img {
						aspect-ratio: 5/3;
						width: 80%;
						height: auto;
						object-fit: cover;
						object-position: center;
						border-radius: 1rem;
						box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
					}

					img:nth-child(1) {
						grid-column: 1 / 2;
						grid-row: 1 / 3;
					}
					img:nth-child(2) {
						grid-column: 3 / 4;
						grid-row: 1 / 2;
						place-self: start;
					}
					img:nth-child(3) {
						grid-column: 1 / 2;
						grid-row: 3 / 4;
						place-self: end;
					}
					img:nth-child(4) {
						grid-column: 3 / 4;
						grid-row: 3 / 4;
					}

					.text-container {
						grid-column: 2 / 3;
						grid-row: 2 / 3;
					}
				}

				.portal {
					position: relative;
					width: 100vw;
					height: 100vh;
					mask-image: url('windows.svg');
					mask-position: center;
					mask-repeat: no-repeat;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					.text-container {
						position: absolute;
						bottom: 10%;
						left: 50%;
						transform: translateX(-50%);
						z-index: 2;
						background-color: #ffffff80;
						color: #111;
						backdrop-filter: blur(4px);
						padding: 2rem;
						border-radius: 1rem;
					}
				}

				.scroll-video {
					z-index: -1;
					position: fixed;
					width: 100vw;
					height: 100vh;
					object-fit: cover;
				}
			}
		}
	}

	body[data-theme='dark'] {
		color-scheme: dark;
		background: #111;
		color: #eee;

		header {
			background-color: #11111180;
		}
	}
	body[data-theme='light'] {
		color-scheme: light;
		background: #fff;
		color: #111;

		header {
			background-color: #ffffff80;
		}
	}
	body[data-theme='primary'] {
		color-scheme: light;
		background: #0af;
		color: #fff;

		header {
			background-color: #00aaff80;
		}
	}
}

.text-container {
	> * + * {
		margin-top: 1em;
	}

	h1 {
		font-size: 3rem;
		line-height: 1.2;
	}
	
	h2 {
		font-size: 2rem;
		line-height: 1.4;
	}
}

.image-container {
	border-radius: 1rem;
	overflow: hidden;
}

.btn {
	display: inline-grid;
	place-items: center;
	padding-inline: 1.5rem;
	border: none;
	background-color: #ff005b;
	color: #fff;
	height: 44px;
	border-radius: 3px;
	text-decoration: none;
	margin-top: 2rem;
}